{{#section 'title'}}
    Timeline - Portal IT Cermati
{{/section}}
{{error}}

<div class="row container">
    <div class="col s12 mt-20">
        <div class="col s12 mb-30 center">
            <span class="font-40">Timeline Pekerjaan</span>
        </div>
        <div class="col s12">
            <span class="font-20 green-text" id="message">{{message}}</span>
        </div>
        <div class="row">
            <div class="col s12 container">
                <div class="row">
                    {{#each layoutTemplate}}
                        <div class="col s12 mb-30">
                            <div class="col s12 center">
                                <span>{{@key}}</span>
                                <div class="divider mt-10"></div>
                            </div>
                            {{#each this}}
                                <div class="col s12 mt-10">
                                    <div class="col s4 right-align">
                                        <span class="font-20">{{dateTime tanggalSelesai}}</span>
                                    </div>
                                    <div class="col s8">
                                        <span class="font-20">{{assign}} - {{jenis}} ({{nama}}-{{divisi}})</span>
                                        <!-- Modal Trigger -->
                                        <a class="modal-trigger" href="#modal{{idLaporan}}" title="Detail Tiket"><i class="material-icons" >help_outline</i></a>
                                    </div>
                                </div>
                                <!-- Modal Structure -->
                                <div id="modal{{idLaporan}}" class="modal">
                                    <div class="modal-content">
                                        <h4>Detail Laporan</h4>
                                        <p>{{breakLine detail}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>